#result {
  display: none;
}

h1 {
  border-color: black;
  
}

#enter {
  background-color: black;
}

body {
    background-image: url("../img/starwars.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 200px;
}
